doctype html
html(lang='en-us')
head
    meta(charset='utf-8')
    link(type='text/css', rel='stylesheet', href='css/app.css')
    title ReacTree
  body
    h1 ReacTree
    #content
    hr
    #treeContent
      
    hr
    button#addButton ADD

    script(src='bundle.js')
