doctype html
html(lang='en-us')
head
    meta(charset='utf-8')
    script(src='../bower_components/react/react.js')
    title REAC
  body
    h1 REAC
    #content
    hr
    #treeContent

    script(src='app.js')
    script(src='tree.js')
