doctype html
html(lang='en-us')
head
    meta(charset='utf-8')
    //- script(src='../bower_components/flux/dist/Flux.js')
    //- script(src='../bower_components/react/react.js')
    link(type='text/css', rel='stylesheet', href='css/app.css')
    title ReacTree
  body
    h1 ReacTree
    #content
    hr
    #treeContent

    script(src='bundle.js')
    //- script(src='tree.js')
    //- script(src='app.js')
