doctype html
html(lang='en-us')
head
    meta(charset='utf-8')
    script(src='../bower_components/react/react.js')
    link(type='text/css', rel='stylesheet', href='css/app.css')
    title REAC
  body
    h1 REAC
    #content
    hr
    #treeContent

    script(src='tree.js')
